<style>
       
        body {
            background-image: radial-gradient(lightpink, white);

        }

        div {
            width: 300px;
            height: 180px;
            background: white;
            border-radius: 4px;
            margin: 10px 10px;
            min-width: 265px;
            padding: 20px;
            max-width: 400;

        }


        img {
            width: 96, 8;
            height: 138;
            float: left;
            margin-right: 15px;
            box-shadow: -1px 1px 5px black;
        }

        img:hover {
            transform: scale(1.1);
            transition: 0.2s;
            box-shadow: -1px 1px 10px black;
        }


        div ul {
            list-style: none;
            line-height: 1.5;
            margin: -1;
            color: darkgrey;
            width: 250px;
            font-size-adjust: auto;
            font-size: 13;
        }


        .title {
            color: black;
        }

        a:link {
            color: mediumvioletred;
            text-decoration: none;
        }

        nav {
            margin-left: 70;
            font-family: 'montserrat', sans-serif;
            font-size: 35;
            font-weight: 100;

        }

        button {
            border-style: solid;
            border-width: thin;
            border-radius: 60px;
            border-color: grey;
            height: 30px;
            width: 30px;
            background-color: transparent;
            position: sticky;
            float: right;
            margin-right: 40;
            margin-top: 10;
            color: black;





        }

        button:active {
            background-color: white;
            color: blue;
        }

        button:hover {
            border-color: slategrey;
            background-color: ghostwhite;
        }


        .material-symbols-outlined {
            padding-left: 2;
            font-variation-settings:
                'FILL'0,
                'wght'200,
                'GRAD'-5,
                'opsz'4;
        }

        #clique {
            width: 755;
            height: 550px;
            border: ;
            position: absolute;
            background-color: white;
            z-index: 1;
            margin: 0 200;
            border-radius: 5px;
            display: none
        }

        #clique img {
            display: none;
        }

        /* Livro do quadro clique*/


        #livrogrande {
            width: 350;
            height: 90%;
            margin: 1% 1%;
            float: left;
            background-image: url(livro%204.jpg)
        }

        table {

            line-height: 1.8;
            color: darkgrey;
            font-size-adjust: auto;
            font-size: 12;
            float: right;
            width: 300;
            text-align: end;
            position: absolute;
            margin: 120 390;
            overflow: none;
            background-color: white;


        }

        table th {
            color: black;
            font-weight: bold;
        }

        .artigo {


            float: right;
            position: absolute;
            width: 360px;
            height: 210px;
            margin: 110 390;
            overflow: auto;
            background-color: white;
        }

        /* continuação do título*/
        #titulo {
            position: absolute;
            margin: 11 390;
            width: 40%;
            height: 100px;
            font-size: 21;
            font-weight: bolder;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            background-color: white
        }

        /* fonte do quadro clique*/
        #titulo a {
            color: mediumvioletred;
            text-decoration: none;
            font-size: 13;
            font-weight: 100
        }

        @media only screen and (max-width: 700px) {
            .col-xs-12 {
                max-width: 500px;
                width: 400;
                margin: 10 20;

            }

            div ul li {
                width: 400px;


            }

            #clique {
                width: 350px;
                background-color: white;
                height: 740px;
                margin: 10 50;


            }

            #livrogrande {
                display: none;
            }

            #clique img {
                transform: scale(3);
                position: relative;
                margin: 140 130;
                padding: ;
                box-shadow: none;
                display: flex;


            }

            table {
                float: none;
                position: relative;
                margin: 0;
            }

            .artigo {
                position: relative;
                margin: 150 10;
                width: 330px;
                height: 150;

            }

            label {
                display: none;
            }

            input {
                display: none;
            }
        }


        #fundo {
            position: absolute;
            display: none;
            border: solid;
            z-index: 1;
            margin: -50 0;
            transform: scale(10);
            background-color: rgba(50, 50, 50, .5);


        }

        label {
            font-size: 16;
            text-align: end;
            font-weight: 100;
            margin-left: 0;
            justify-self: end;
            float: right;
            padding-top: 13
        }

        input {
            font-size: 16;
            margin-left: 1;
            background: none;
            border: none;
            font-weight: bold;
            float: right;
            width: 80;
            padding-top: 13
        }

        #pagina {
            float: none;
            margin-left: 980;
            padding-top: 6;
            font-weight: 100;
        }
    
<Style>
